[Desktop Entry]
Version=1.1
Type=Application
Name=Felis Fist Boot
Comment=Felis First Boot Wizard
Icon=applications-other
Exec=/usr/bin/felis-firstboot
Terminal=true
Actions=
Categories=X-XFCE;X-Xfce-Toplevel;
